<?xml version="1.0" encoding="UTF-8"?>
<odoo noupdate="0">
        <record id="menu_klaro_configuration" model="ir.ui.menu" >
            <field name="name">Klaro</field>
            <field name="sequence" eval="10" />
            <field name="parent_id" ref="website.menu_website_global_configuration" />
        </record>

        <!-- Main menu for "klaro.service" -->
        <record id="menu_klaro_service" model="ir.ui.menu" >
            <field name="name">Klaro Services</field>
            <field name="sequence" eval="10" />
            <field name="action" ref="klaro.action_klaro_service_act_window" />
            <field name="parent_id" ref="klaro.menu_klaro_configuration" />
        </record>

        <!-- Main menu for "klaro.purpose" -->
        <record id="menu_klaro_purpose" model="ir.ui.menu" >
            <field name="name">Klaro Purposes</field>
            <field name="sequence" eval="10" />
            <field name="action" ref="klaro.action_klaro_purpose_act_window" />
            <field name="parent_id" ref="klaro.menu_klaro_configuration" />
        </record>
</odoo>
